<!DOCTYPE html>
<html>
	<head>
		<title>Home | discordbots.fr</title>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110407019-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-110407019-1');
		</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<meta name="theme-color" content="#FFFFFF">
		<meta property="og:type" content="discordbots.fr">
		<link rel="publisher" href=location>
		<meta name="author" content=location>
		<meta name="keywords" content="discord,dbl,dblfr,discordapp,bots,liste,fr,français">
		<meta property="og:description" content="Discord bot liste Français.">
		<meta name="og:image" content="https://cdn.discordapp.com/icons/344955119005073409/4869fc782e3cda2c517a0a07f31c06e8.png">
		<meta property="og:title" content="Discordbots.fr">
		<meta name="google-site-verification" content="MEv4QrwIuVEKM3LmsfESuwQngkETwme15PoV8cwXgeY" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
		<link href="https://cdn.discordapp.com/icons/344955119005073409/4869fc782e3cda2c517a0a07f31c06e8.png?width=32" rel="shortcut-icon">
		<link href="https://cdn.discordapp.com/icons/344955119005073409/4869fc782e3cda2c517a0a07f31c06e8.png?width=32" rel="icon">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/css/default/index.css">

	</head>