<!DOCTYPE html>
<html>
<head>
	<% include partials/head.ejs %>
</head>

<body>
	<main>

		<div id="error">
			<div id="error-content">
				<h1 id="error-message"><%= message %></h1>
				<br><br>
				<a href="/" id="return">Return home</a>
			</div>
		</div>
	</main>
</body>
</html>

