<head>
	<title><%= title %> | discordbot.takohell.com</title>
	<% include ./partials/head %>
</head>
<body>
	<% include ./partials/header %>
	<div class="<%= theme == 1 ? 'presentation-dark' : 'presentation-light'%>">
		<div style="background-image: url(../../img/patternmid.png);">
			<div class="container">
				<div class="row">
					<div class="col-12" style="background-color: #36393e;
						border-radius: 10px;
						color: white;
						margin-bottom: 10px;
						text-align: center;
						box-shadow: 0.5px 1px 2px 2px #fffff0;">
						<br>
						<strong>DISCORD BOT FR CONDITIONS D'UTILISATION</strong>
						<br>
						<br>
						Discord, Le logo de discord, et d'autres éléments sont des marques de commerce de Hammer & Chisel, Inc. En utilisant Discord BOT FR, ou ses sociétés affiliées ou partenaires, vous acceptez les conditions d'utilisation suivantes dans leur intégralité.<br>
						Concernant les conditions d'utilisation de Discord, rendez-vous ici: <a href="https://discordapp.com/terms">https://discordapp.com/terms</a>
						<br>
						<br>
						Pour utiliser discordbot.takohell.com, discordbots.fr, discordbot.fr, Discord Bot FR, vous devez avoir minimum 13 ans et plus.<br>
						Vous acceptez que l'on sauvegarde vos données, actions sur le site, l'emplacement, l'adresse IP et d'autres informations, ces données seront recueillies anonymement, sauf indication contraire.
						<br>
						<br>
						Vous acceptez d'abandonner vos droits d'action judiciaire contre Discord Bot FR ou l'un de ses affiliés, staff et autres.<br> Tout ce qui est sur Discord Bot FR, discordbot.fr et discordbots.fr appartient à Discord Bot FR.
						<br>
						<br>
						Si les services offerts par discordbots.fr ou ses affiliés sont exploités ou utilisés de manière illégale, leur compte sera immédiatement résilié, ainsi que toutes listes, messages ou autres artefacts créés par le contrevenant.<br>
						Si un utilisateur découvre un bug dans les services offerts par discordbot.takohell.com, discordbot.fr, discordbots.fr ou l'un de ses affiliés, ils ne peuvent, en aucun cas, divulguer le bug ou le problème publiquement, le problème / bug doit être immédiatement signalé à discordbots.fr ou ses filiales dans un message privé.
						<br>
						<br>
						Le harcèlement, l'insubordination ou autres entités connexes entraînera la résiliation ou la punition de la ou des personnes fautives et de tous leur contenu, messages, communications et comptes sur nos services et probablement sur nos partenaires, commanditaires et affiliés sans préavis, notification préalable ou divulgation nécessaire.
						Il est illégal de copier, dupliquer, ou voler tout contenu sur Discord Bot FR sans l'autorisation écrite préalable de son staff.
						<br>
						<br>
						Discord Bot FR ne prendra aucune responsabilité de tout contenu posté par un autre utilisateur sur l'un de nos services, plus exactement le site Web et le serveur discord. Si un utilisateur ou bot fait quoi que ce soit en violation de la loi locale, nationale ou internationale, ou de nos conditions d'utilisation, un rapport doit être envoyé au staff de Discord Bot FR, si un rapport déposé est un abus du système, nous nous réservons le droit d'ignorer le rapport d'existence sur l'un de nos services sans préavis.
						<br>
						<br>
						L'usurpation d'identité d'un utilisateur, bot, entité, affilié, sponsor ou partenaire sur nos services ou ceux de nos partenaires, sociétés affiliées, sponsors ou autres entités connexes entraînera la résiliation ou la punition de la ou des personnes fautives et de tous leur contenu, messages, communications et comptes sur nos services et probablement sur nos partenaires, commanditaires et affiliés sans préavis, notification préalable ou divulgation nécessaire.
						<br>
						Discord Bot FR, discordbot.takohell.com, discordbot.fr, discordbots.fr et ses propriétés et succursales sont basées et opèrent en France, opérant ainsi en vertu des lois locales et internationales. Si vous avez des questions concernant ce que cela signifie pour l'utilisation et l'accessibilité de Discord Bot List FR et de ses services dans votre région, veuillez nous contacter: <a href="mailto:jorisvideo@outlook.fr" "">jorisvideo@outlook.fr</a> (adresse provisoire)
						<br>
						<br>
						<strong>TOUT ABUS DES CES CONDITIONS SERONT SÉVÈREMENT PUNIS<br>
						En utilisant Discord Bot FR vous acceptez les conditions ci-dessus <br>
						Écrit le Samedi 02 Décembre 2017 à 15:29 </strong>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<% include ./partials/footer %>